{% extends 'base.html' %}
{% block title %}Create a New Blog Post!{% endblock %}
{% block content %}


<br/><br/>

{% if user.is_authenticated %}
<div class="col-md-8 col-md-10 mx-auto">
    <h1>Add a Blog Post...</h1>
    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="btn btn-secondary">Post</button>
    </form>
</div>
{% else %}
<div class="site-heading">
    <h1 class="col-md-12 col-md-15 mx-auto text-black font-weight-bold">Uh oh! You need to register before you can
        add a post!</h1>
</div>

{% endif %}

{% endblock content %}